<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>1</th>
      <th>2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <form accept-charset="UTF-8" action="/" method="post">
  <tbody>
    <% @questions.shuffle.each_with_index do |question, index| %>
      <tr>
          <td><%= "#{index+1}. #{question.test}" %></td>
          <td><%= radio_button_tag(question.id, question.ans1, true) %></td>
          <td><%= radio_button_tag(question.id, question.ans2) %></td>
      </tr>
    <% end %>
  </tbody>
  </form>
</table>

<br>
